* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
#product-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    gap: 50px;
}
#widget{
    color: black;
}
.card{
    background-color: greenyellow;
    width: 252px;
    height: 500px;
    font-family: fantasy;
}
.card-img-top{
    width: 250px;
    height: 350px;
}
.btn-outline-success{
    background-color: rgb(177, 243, 177);
    border-radius: 15px;
    font-size: 17px;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
    margin-bottom: 20px;
    padding: 20px;
}
.img-navbar{
    height: 160px;
}
.cart{
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}
.empty-cart{
    color: gainsboro;
    justify-self: center;
    margin-top: 50px;
}
.buy-again{
    color: greenyellow;
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
footer{
    width: 100%;
    height: auto;
}
footer i{
    font-size: 20px;
    margin-left: 38px;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    height: auto;
    background-color: greenyellow;
    margin-top: 20px;
    padding: 20px;
}
.logo1 img{
    height: 160px;
    margin: 10px;
    margin-bottom: 10px;
}
.disabled{
    display: none;
}
#cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
}
